In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv('train.csv')
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [10]:
from sklearn.feature_selection import VarianceThreshold
vt=VarianceThreshold(threshold=0.6)

In [11]:
vt.fit(data)

VarianceThreshold(threshold=0.6)

In [12]:
data1=vt.transform(data)
data1.shape

(2000, 14)

In [16]:
vt.variances_

array([1.92991816e+05, 2.49975000e-01, 6.65529938e-01, 2.49909750e-01,
       1.88387097e+01, 2.49537750e-01, 3.29102338e+02, 8.31419375e-02,
       1.25250900e+03, 5.23157975e+00, 3.67575278e+01, 1.96842937e+05,
       1.86702964e+05, 1.17605528e+06, 1.77425577e+01, 1.89687110e+01,
       2.98398790e+01, 1.81617750e-01, 2.49991000e-01, 2.49951000e-01,
       1.25000000e+00])

In [20]:
vt.get_params()

{'threshold': 0.6}

In [73]:
vt.get_support()

array([ True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False,  True])

In [74]:
#to retain the feature name after variance_threshold method
#It is different from PCA
get_label_name_new=[]
data.columns[vt.get_support(indices=True)]

Index(['battery_power', 'clock_speed', 'fc', 'int_memory', 'mobile_wt',
       'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h', 'sc_w',
       'talk_time', 'price_range'],
      dtype='object')

In [59]:
tf_feature[5]

False

In [61]:
get_label_name